<h1 class="user_header">Log in</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <p class="user_form"><%= f.label :email %></p>
  <p class="user_form"><%= f.email_field :email,class:"form-control" %></p>
  <p class="user_form"><%= f.label :password %></p>
  <p class="user_form"><%= f.password_field :password ,class:"form-control" %></p>
  <p class="user_form create_account"><%= f.submit "Log in",class:"btn btn-info" %></p>
<% end %>

 <%= link_to 'ゲストユーザー', guest_path, method: :post, class: 'btn btn-success' %>
