<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="post_text">
    <%= form.label :text %>
    <%= form.text_field :text %>
  </div>
  <div class="box_container">
   <%= form.label :category, 'カテゴリ' %>
   <%= form.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
     <%= category.label do %>

       <span><%= category.check_box %></span>
       <span><%= category.text %></span>
     <% end %>
   <% end %>
  </p>
  <%= form.submit %>
<% end %>
<%= link_to "投稿一覧画面にもどる", posts_path %>
