<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="post_text">
    <%= form.text_field :text,class:"post_text",placeholder:"150字以内で入力してください" %>
  </div>

  <div class="buttons">
  <%= form.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
    <div class="category_list">
      <%= category.label do %>
        <span><%= category.check_box %></span>
        <span><%= category.text %></span>
      <% end %>
    </div>
  <% end %>
  <p><%= form.submit class:"btn btn-blue" %></p>
<% end %>
<%= link_to "投稿一覧画面にもどる", posts_path,class:"btn btn-green" %>
</div>
