<h1 class="post_header">掲示板一覧</h1>

<%= form_with(model: Post.new,method: :get,local: true,url: posts_path) do |form| %>
  <div class="search_form">
    <%= form.label :text_search %>
    <%= form.text_field :text %>
  </div>
  <br>
  <% Category.all.each do |cate|%>

    <div class="category_search">
      <div class="category_form">
      <%= form.check_box :categories_ids, {multiple: true, checked: cate[:checked], disabled: cate[:disabled], include_hidden: false}, cate[:id] %>
      <label class="form-check-label"><%= cate.name %></label>
    </div>
    </div>
  <% end %>
  <br>
  <%= form.hidden_field :search, value: 'true' %>
  <%= form.submit '検索',name:'search',class:"btn btn-info"%>
  <%= link_to "投稿一覧画面にもどる", posts_path %>
<% end %>
<table>
  <tr>
    <th>ユーザー名</th>
    <th>内容</th>
    <th>カテゴリー</th>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.user.name %></td>
      <td><%= post.text %></td>
      <td>
        <% post.categories.each do |category| %>
          <%= category.name %>
        <% end %>
      </td>
      <td><%= link_to '詳細を確認する', post_path(post.id) %></td>
      <% if post.user.id == current_user.id %>
        <td><%= link_to '投稿の編集する', edit_post_path(post.id), data: { confirm: '本当に編集していいですか？' } %></td>
        <td><%= link_to '投稿を削除する', post_path(post.id), method: :delete,data: { confirm: '本当に編集していいですか？'} %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<%= link_to '掲示板投稿する', new_post_path %>
