<%= form_with(model: @post, local: true) do |form| %>
  <div class="post_text">
    <%= form.label :text %>
    <%= form.text_field :text %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to '掲示板一覧画面に戻る', posts_path %>
